<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>
</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="row text-center">
        <div class="lead">

        <p><strong>Purpose Of System:</strong></p>

        <p>This service is required to provide a system that allows them to find the shortest path from point “A”, being Earth, through the galaxy to any of the planets represented by the other nodes.</p>

        <p><strong>For your consideration by: Edwin Bougaard</strong></p>
        </div>
    </div>

</div>
</body>
</html>